/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
  width: 75;
}


#card{
  background: linear-gradient(180deg, rgba(88, 139, 182, 0.507) , rgba(0, 0, 0, 0.131) );
  color: rgba(240, 248, 255, 0.513);
  
}


#error{
  width: 100%;
  
 
}
#results{
  width: 100%;
  
 
}

#error2{
  --bs-alert-bg: #212529; 
  border: transparent;




}



