<!DOCTYPE html>
<!--  xmlns:th="https://www.thymeleaf.org/">  Para usar recursos de thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon1.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/templatecg.css">
  <link rel="stylesheet" href="/css/catalog.css">
    <title>Kubrick's Catalog</title>
</head>


  
  <!-- Header -->

  <body class="d-flex h-100 text-center text-bg-dark"></body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">
          <a href="/"> <img  src="/img/favicon1.png"></a>
          Kubrick's Media
        </h3> 
        
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 " href="/">Home</a>
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/catalog">Catalog</a>
          <a class="nav-link fw-bold py-1 px-0" href="/Contact">Contact</a>
          <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
        </nav>
      </div>
    </header>

    <!-- CAROUSEL -->
    <main>

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#results"><img  src="/img/movies/posterm.jpg"width="100%" height="100%" alt=""></a>
            <svg class="bd-placeholder-img"  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" >
             
              <rect width="20%" height="20%" fill="#777" />
            </svg>
           
            <div class="container">
              
              <div class="carousel-caption text-start">
                
           
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <a href="#results"><img src="/img/movies/posterm2.jpeg"width="100%" height="100%" alt=""></a>
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="20%" height="20%" fill="#777" />
            </svg>

            <div class="container">
              <div class="carousel-caption">
              
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <a href="#results"><img src="/img/movies/posterm3.jpg"width="100%" height="100%" alt=""></a>
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
              <div class="carousel-caption text-end">
               
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- ASIDE -SIDEBAR -->
      <div id="medbar">
        <!-- <h1 class="visually-hidden">Sidebars examples</h1> -->

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="#results" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-2">Categories</span>
    </a>
    <hr>
  
    <ul class="nav nav-pills flex-column mb-auto">
      <li th:each="cat: ${categories}" class="nav-item">
          <a th:href="@{/catalog/{id}(id=${cat.id})}"
        
              th:class="'nav-link '+${cat.id == id ? 'active' : ''}" aria-current="page" >
              <span class="fs-4" th:text="${cat.name}">Action</span>
             
          </a>
         
      </li>
  </ul>
</div>
<div id="results">
  <h1 th:text="${title}">Hola</h1 >
  <div class="d-flex flex-column flex-shrink-0 p-3 album ">
      <div class="container">
          <div class="fs-4" th:if="${id == null}">
              <p>Please select a category to see videos</p>
          </div>
          <div th:if="${id != null}"
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 g-3 ">
              <div th:if="${movies.isEmpty()}">
                  <p>No videos in this category</p>
              </div>
              <div th:if="${!movies.isEmpty()}" th:each="movie: ${movies}" class="col">
                  <!-- Cada video -->
                  <div id="card" class="movie card shadow-sm shadow-sm border-0 ">
                      <img th:src="${movie.imageUrl != null ? movie.imageUrl : '/img/noimage.jpg' }"
                          class="card-img-top" alt="${movie.name}">
                      <div class="card-body text-white-50 text-start">
                          <h5 th:text="${movie.name}" class="card-title">Card title</h5>
                          <p th:text="${movie.description}" class="card-text">Some quick example text
                              to build on the card title and make up the bulk of the card's content.
                          </p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group m-2">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
                              <button type="button"
                                  class="btn btn-sm btn-outline-secondary">Cart</button>
                                  
                          </div>
                          <small class="text-muted me-0">
                              <span th:text="${movie.length}">120</span> 
                          </small>
    <hr>
    
  </div>
                  </div>
      


            <!-- ALBUM BOX 4 -->
            <!-- <div class="col">
              <div class="card shadow-sm border-0 ">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
                </svg>

                <div class="card-body text-bg-dark ">
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
                    </div>
                    <small class="text-muted">65 mins</small>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
</div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6 color">
  </div>
  
  </div>




    </main>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6 color">
  </div>
  
  </div>
  
  

    <footer class="mt-auto text-white-50">
      <p>Developer by <a href= "mailto:danielgz.m@hotmail.com" class="text-white"> Danniel Dev</a>. 2022 </p>
  
    </footer>

  </div>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>