<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon1.png" type="image/x-icon">
 
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/contactus.css">
  <link rel="stylesheet" href="css/template.css">
  
 


  <title>Contact|K'M</title>
</head>



<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
      <h3 class="float-md-start mb-0">
        <a href="index.html"> <img  src="img/favicon1.png"></a>
        Kubrick's Media
      </h3> 
      
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 " href="/">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="catalog">Catalog</a>
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="Contact">Contact</a>
          <a class="nav-link fw-bold py-1 px-0" href="login">Login</a>
        </nav>
      </div>
    </header>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6 color">
  </div>
  
  </div>

    <main>
  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about everything!</h3>
              

              <p><img src="img/contactpng.png" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form action="#" method="post" class="mb-4"  id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <br>
                    <form>
                    <input id="txtrg" type="text" class="form-control" name="name"  placeholder="Your name">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input id="txtrg" type="text" class="form-control" name="email"  placeholder="Email">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input id="txtrg" type="text" class="form-control" name="subject"  placeholder="Subject">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea id="txtrg" class="form-control" name="message"  cols="30" rows="7" placeholder="Write your message"></textarea>
                    <br>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary ">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
            

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6 color">
</div>

</div>

  </main>


  
    
  <footer class="mt-auto text-white-50">
    <p>Developer by <a href= "mailto:danielgz.m@hotmail.com" class="text-white"> Danniel Dev</a>. 2022 </p>

  </footer>
</body>
</html>